.userInfo{
    width:320px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top:35px;
    right:280px 
}

.trade__button{
    height: 35px;
    width: 140px;
    background-color: #ded9cc;
    font-size: 16px;
    cursor: pointer;
    transition: all .4s;
}

.trade__button:hover{
background-color: #c8c3b7;
}

.userName{
    text-align: right;
    width: 80px;
    font-size: 16px;
    margin-left: 30px;
}

.userImgHome{
    width: 60px;
    height: 60px;
}