@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    letter-spacing: 2px;
}

body, html{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    padding: 30px;
    text-decoration: none;
    color: black;
    background-color: lightgrey;
    margin: 5px;
}

a:hover{
    background-color: beige;
}


