.profile__userInfo {
  display: flex;
  margin-right: 270px;
}

.profile__userImg {
  width: 100px;
  height: 100px;
  padding-right: 30px;
}

.profile__userName {
  font-size: 18px;
}

.profile__userBio {
  width: 50%;
  padding-top: 20px;
  font-size: 14px;
}

.profile__userContact {
  display: flex;
  width: 100%;
}

.profile__contactText {
  padding-right: 30px;
  padding-top: 20px;
  font-size: 14px;
}
