footer {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(224, 221, 209, 0.5);
  font-size: 16px;
}

.footer__nav {
  display: flex;
  border-left: black 1px solid;
}

.footer__nav__item {
  color: black;
  text-decoration: none;
  cursor: pointer;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  border-right: black 1px solid;
}
