.faqTitle {
  margin-bottom: 10px;
}

.faq__question__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 500px;
  width: 750px;
}

.faq__question {
  width: 750px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 5px;
  border-bottom: 1px solid black;
}

.faq__answer {
  padding: 5px 10px;
  width: 750px;
  white-space: pre-line;
  text-align: justify;
}
